<div class="quizz__container">
  <div class="quizz_logo flex-center">
    <img id="buzz-feed-logo"
         src="./../../../assets/imgs/logo.png"
         alt="Buzz Feed logo"
         >
    <h1>Title</h1>
  </div>

  <div class="quiz_question flex-center">
    <h3>Question</h3>
  </div>

  <div class="quizz_options flex-center">
    <app-btn [btnText]="'Answer'"></app-btn>
    <app-btn [btnText]="'Answer'"></app-btn>
    <app-btn [btnText]="'Answer'"></app-btn>
    <app-btn [btnText]="'Answer'"></app-btn>
  </div>

  <div class="quizz_results flex-center">
    <h2>O seu resultado é:</h2>
    <p>Resposta selecionada</p>
  </div>

</div>
